body
{
    max-width: 400px;
    margin: auto;
}

#calculator
{
    border: 1px solid;
    width: 400px;
    padding: 4px;
}

#input
{
    font-size: 30pt;
    height: 1em;
    text-align: right;
}

#output
{
    font-size: 60pt;
    margin: -8px 0 4px 0;
    height: 1em;
    text-align: right;
}

#buttons
{
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20%;
}

.button
{
    font-size: 40pt;
    margin: 4px;
}

#equals
{
    grid-column: 3 / 5;
}